@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* font-family: 'Cinzel', serif;
font-family: 'Poppins', sans-serif;*/

* {
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 1440px;
}
h1 {
    font-size: 10px;
    font-weight: 300;
    color: #999;
    padding: 15px;
    background-color: #fff;
    height: 40px;
    font-family: 'Cinzel', serif;
}
header {
    height: 600px;
    background-image: url(../img/Alpen-bg.avif);
}
header div {
    width: 250px;
    margin-left: 600px;
}
.h2 {
    color: #fff;
    font-size: 40px;
    font-weight: 300;
    text-align: center;
    padding-top: 200px;
    font-family: 'Cinzel', serif;
}