@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* font-family: 'Cinzel', serif;
font-family: 'Poppins', sans-serif;*/

* {
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}

/* ------  Header  -------- */

h1 {
    font-size: 15px;
    font-weight: 300;
    color: #999;
    padding: 10px 100px;
    background-color: #fff;
    height: 50px;
    font-family: 'Cinzel', serif;
}
header {
    height: 610px;
    background-image: url(../img/Alpen-bg.avif);
    background-position: center;
    background-repeat: no-repeat;
}
.h2 {
    color: #fff;
    font-size: 50px;
    font-weight: 300;

    margin: 160px auto;
    width: 300px;
    font-family: 'Cinzel', serif;
}
/* ------  Main  -------- */

main {
    padding: 0 80px;
}
article h3 {
    text-align: center;
    font-family: 'Cinzel', serif;
    font-weight: 400;
    font-size: 20px;
    padding: 60px;
}
/* ------  Trip & Pictures  -------- */

.Trip {
    text-align: center;
    font-size: 12px;
    font-family: 'Poppins', sans-serif; 
}
.berge img {
    padding: 15px;
    width: 30%;
}
.berge {
    display: flex;
    justify-content: center;
}
/* ------  Trip & Pictures  -------- */


/* ------  Tour Dates  -------- */

article ul {
    line-height: 45px;
    list-style-type: none;
    margin-bottom: 100px;
    font-family: 'Poppins', sans-serif; 
}
.soldout::after {
    color: red;
    content: " - SOLD OUT";
}
.only4spotavailable::after {
    color: red;
    content:" - ONLY 4 SPOT AVAILABLE" 
}
.available::after {
    color: green;
    content: " - AVAILABLE";
}
/* ------  Tour Dates  -------- */

/* ------  Footer  -------- */

footer {
    border: 1px solid lightgray;
    height: 110px;
    padding: 30px;
}
.contact {
    text-align: center;
}
footer a {
    color: black;
    font-size: 20px;
    text-decoration: none;
    font-family: 'Cinzel', serif;
}
/* ------  Footer  -------- */
